<footer class="d-flex flex-row justify-content-center align-items-center px-3 py-2 flex-wrap text-muted small text-sm my-4">
  <div class="me-3"> &#160;&#169;&#160 2022 <a href="https://researchbored.com" class="fw-normal text-muted">ResearchBored</a></div>
  <a href="/" class="mx-2 fw-normal text-muted"> Home </a> |
  <a href="/pricing" class="mx-2 fw-normal text-muted"> Pricing </a> | 
  <a href="/about" class="mx-2 fw-normal text-muted" id="bottom"> About </a> |
  <a href="/terms" class="mx-2 fw-normal text-muted"> Terms and conditions </a>
</footer>
