<a class="navbar-brand me-5" href="/" style="margin-top: -.22rem;"><svg width="200px" height="36px" viewBox="0 0 109 36" version="1.1" 
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" 
fill-rule="evenodd"> <g id="app" fill="#2C2B2A"> 
<!--
<path d="M18,0 C3.48268,0 0,3.4827 0,18 C0,32.51731 3.48268,36 18,36 C32.5173,36 36,32.51731 36,18 C36,3.4827 32.5173,0 18,0 Z M12.9043,25.95526 L7.25865,13.1243 C7.00203,12.501 6.78207,11.6946 6.78207,10.998 C6.78207,7.8086 9.01833,5.5723 12.2077,5.5723 C13.2529,5.5723 14.1208,5.8469 15.0033,6.1261 L15.004,6.1264 C15.9165,6.4152 16.8446,6.7088 18,6.7088 C19.1689,6.7088 20.0748,6.4178 20.9697,6.1302 L20.97,6.1301 C21.8432,5.8495 22.706,5.5723 23.7922,5.5723 C26.9816,5.5723 29.2179,7.8086 29.2179,10.998 C29.2179,11.6946 28.9979,12.501 28.7414,13.1243 L23.0958,25.95526 C22.1425,28.11819 20.3096,29.2913 18,29.2913 C15.6904,29.2913 13.8574,28.11819 12.9043,25.95526 Z M12.4277,11.1447 L18,23.7557 L23.499,11.1447 C21.9226,11.9146 19.943,12.2812 18,12.2812 C15.9837,12.2812 14.0774,11.9146 12.4277,11.1447 Z" id="Shape"></path> 
-->
<text id="MyApp" font-size="18" font-weight="800" letter-spacing="0.50625"> <tspan x="10" y="26">ResearchBored</tspan> </text> </g> </g> </svg></a>
