<section id="features" style="min-height:40vh; max-width: 990px;" class="mx-auto bg-white text-dark">

  <div class="container mt-5 pt-5">
      <div class="card blog-card h-100 bg-dark py-3">
        <div class="text-center px-5 py-5">
          <p class="pt-2 mb-0 display-6 fw-800 text-white px-5">Close the tabs.</p>
          <p class="pt-2 display-6 fw-800 background-gradient-dark-bg px-5"><span class="text-white">Lose nothing.</span>  </p>
          <p class="mt-4 fs-base1p2 gray-300 mb-5">Organize your research, everywhere</p>
          <a class="btn btn-dark btn-lg border" href="/pricing" style="width: 250px;">Get a Bored →</a>
        </div>
      </div>
    </div>
  </div>

</section>
