<section id="features" style="min-height:80vh; max-width: 1280px;" class="mx-auto bg-white text-dark">
  <div class="container mt-4 pt-5">

  <div class="row mb-5 justify-content-md-center">
    <div class="col-12">
      <h2 class="text-center display-5 fw-800">All key benefits</h2>
    </div>
    <div class="col-8 mb-4">
      <p class="text-center lead gray-500 mb-0">Insist on benefits, more than features.</p>
      <p class="text-center lead gray-500">One icon and headline per argument should looks good. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/> <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Alarm set-up
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/> <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Rince and repeat
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Measure what works
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Analytics everywhere
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Basket included
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Choose a ringtone
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Lightning charge
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/> <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Receipt included
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="card blog-card position-relative h-100">
        <div class="card blog-card position-absolute top-0 start-50" style="margin-top:-1.5rem;margin-left:-2.5rem">
          <div class="text-center">
            <div class="gray-500 h-100 flex-center px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="m-1 p-1" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/> <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/> </svg>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <div class="flex-center fw-500 fs-base1p2 mt-4 mb-3">
            Build whatever you like
          </div>
          <p class="gray-500 px-4 mb-4 pb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum ipsa voluptates sapiente nulla quo perferendis.</p>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>
