<section id="home_hero" class="hero text-center pb-5">
  <h1 class="display-1 fw-800 mb-3" style="line-height: 1.05;">
    <span class="d-block">Save the web in</span>
    <span class="d-block background-gradient">ResearchBored</span>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="fs-4 mt-5" style="line-height: 1.25;">
      <span class="d-block">Make your bookmarks searchable with tags, and</span>
      <span class="d-block pb-2">accessible anywhere, with ResearchBored.</span>
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
      <button type="button" class="btn btn-dark btn-lg" style="width: 250px;" onclick="window.location.href='/pricing'">Get a Bored →</button>
      <button type="button" class="btn btn-outline-dark btn-lg ms-0 ms-md-2 mt-2 mt-md-0" style="width: 250px;" onclick="window.location.href='/#home_benefits'">Read on</button>
    </div>
  </div>    
</section>
