<section id="home_benefits" style="min-height:60vh; max-width: 1280px;" class="flex-center flex-column pt-3 pb-5 m-auto mt-5">
  <div style="min-height:40vh" class="flex-center flex-column py-5 mb-3">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-3 h3 mt-0 fw-800">
            Save Your Open Tabs in ResearchBored
          </h2>
          <div>
            <span class="landing-text">
              <p>If it's worth keeping a tab open, then what are you saving it for? Let's save it in ResearchBored.  When you make a bookmark with #tags and a description, nothing is ever lost.</p>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="flex-center">
            <!--<svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                </g>
            </svg> -->
            <%= image_tag "pic1.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5 mb-3">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3">
          <h2 class="mb-3 h3 mt-0 fw-800">#Tags > Bookmark Folders</h2>
          <div>
            <span class="landing-text">
              <p>If you've tried organizing bookmarks into folders, then you know how quickly this system becomes overwhelmed.  #Tags are different.  Browse your bookmarks like never before.</p>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="flex-center">
            <!--<svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                </g> 
            </svg>  -->
            <%= image_tag "pic2.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5 mb-3">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-3 h3 mt-0 fw-800">
            Revisit Your Saved Bookmarks
          </h2>
          <div>
            <span class="landing-text">
              <p>When you save web content with your own description and your own tags, it's easy to find.  You can search for the description you wrote, or filter on the tags you selected.</p>
            </span>
            <!-- <a href="/" class="landing-badge"><span class="">Blog <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" class="mx-1"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg></span>How to redirect your visitor to the landing page</a> -->
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="flex-center">
            <!--<svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                </g>
            </svg>      -->
            <%= image_tag "pic3.png" %>    
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div style="min-height:40vh" class="flex-center flex-column py-5 mb-3">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3">
          <h2 class="mb-3 h3 mt-0 fw-800">You can also add CTA in the corresponding text</h2>
          <div>
            <span class="landing-text">
              <p>CTA means "Call to Action". You can add a tiny call-to-action at the end of this tiny paragraph, for example a <a href="">link</a>.</p>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="flex-center">
            <svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                </g>
            </svg> 
          </div>
        </div>
      </div>
    </div>
  </div>  
  -->
</section>
