<% content_for :meta_title, "About" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1>About ResearchBored</h1>
  
  <h2 class="h2">The vision</h2>
  <p>
    ResearchBored is about solving the problems of internet research. What is internet research?  Anytime you get on the 
    internet and look for anything you're doing research.  The first and biggest problem we aim to solve is what to do 
    with what you find.  The two most common answers are
  </p>
  <ol>
    <li>Close the tab and move on with life (information is lost).</li>
    <li>Leave the tab open (so that it can join the many other open tabs).</li>
  </ol>
  <p>  
    Bookmarks seem like the obvious solution, but they already exist and they're bad.  The organizational structure is either 
    none-at-all, or overly hierachical with too many folders. And then there are bookmarks that could logically belong to multiple
    folders.  The more bookmarks you save the bigger the mess gets.  Using #Tags as metadata on a bookmark allows
    for non-hierarchical organization, while still allowing you to classify your bookmarks.  It's the best of both worlds.  And
    it's all on cloud and available anywhere.
  </p>

  <!-- Some boilerplate I commented out but has a nice structure to it. -- SW 4-26-2022
  <figure>
      <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
      </blockquote>
      <figcaption>—Aldous Huxley, <cite>Brave New World</cite></figcaption>
  </figure>
  -->

  <h2 class="h2">Our team</h2>
  <p>ResearchBored is brought to you by Adrian Telan, Raag Patel, and Stuart Wurtman</p>

  <h2 class="h2">What's next</h2>
  <p>
    ResearchBored is a starting point.  It's a framework for saving, organizing, and sharing information.  
    We've built the bookmarking tool of our dreams, but we're not stopping there. Here's what's next on our list.
  </p>
  <ul>
    <li>Tools for collaboration, like grouping content into projects that can be shared with your collaborators.</li>
    <li>Cache copies of webpages, so your bookmarks aren't lost when a site inevitably breaks or goes offline.</li>
    <li>Store .pdf copies of <em>anything</em> you want: journal preprints, correspondence, recipes, etc. </li>
  </ul>
  <p>
    The bottom line is that we love what we've made.  The more time we spend with it, the more we are convinced that 
    the deficiences of the web are how we interact with it, and we are determined to build solutions.
  </p>
</div>
