<% content_for :meta_title, "Changelog" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1 class="text-center">Changelog</h1>
  
  <h2 class="h2">1.2.3</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>
  <ul>
    <li>[SECURITY] Fixed Security Headers</li>
    <li>[DESIGN] Improved Homepage</li>
    <li>[UX] Highlight on hover</li>
  </ul>

  <h2 class="h2">1.2.1</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>
  <ul>
    <li>[FRONTEND] SvelteKit up-to-date</li>
    <li>[i18n] Icon on Toast messages</li>
  </ul>

  <h2 class="h2">1.2.0</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>
  <ul>
    <li>[FEATURE] Admin : added monitoring</li>
    <li>[FEATURE] Admin : added settings</li>
    <li>[DESIGN] Color on h1 titles</li>
    <li>[UX] Better CSS transition</li>
  </ul>

</div>
