<% content_for :meta_title, "Credits" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1>Credits</h1>
  
  <h2 class="h2">Design</h2>
  <p>
    Lorem ipsum <a href="#">dolor sit amet consectetur</a> adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>
  <ul>
    <li>A first creator to credit is <a href="">this one</a></li>
    <li>Another creator to credit is <a href="">this another</a></li>
    <li>A last one is <a href="">that one</a></li>
  </ul>

  <h2 class="h2">Colors</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>

  <figure>
      <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
      </blockquote>
      <figcaption>—Aldous Huxley, <cite>Brave New World</cite></figcaption>
  </figure>

  <h2 class="h2">Text</h2>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

</div>
