<% content_for :meta_title, "FAQ" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1 class="text-center">Common questions</h1>

  <h2 class="h3 mb-4">
    <span class="highlight-underline">Compliance</span>
  </h2>
  <dl>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Are you compliant with the law ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <p class="mb-0 fs-6">Yes. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem deserunt ad quae laboriosam ex similique itaque vel id sed nihil quis assumenda a quaerat velit placeat, aliquam ipsum aperiam dolores.</p>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Do you sell my data?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">No. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eveniet aliquam, magni animi dicta repellat voluptatem delectus ratione aliquid fugiat necessitatibus architecto praesentium quidem dignissimos veritatis vero, officia exercitationem modi!</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Is my data secure?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Yes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium consequatur, tenetur mollitia dolore illo, nemo voluptatem perspiciatis accusantium minima vero numquam cumque dolor incidunt atque omnis ducimus, consequuntur quia!</p>
        </div>
      </dd>
    </div>
  </dl>

  <h2 class="h3 mb-4">
    <span class="highlight-underline">Plans</span>
  </h2>
  <dl>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">What is your best plan ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <p class="mb-0 fs-6">Plan A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem deserunt ad quae laboriosam ex similique itaque vel id sed nihil quis assumenda a quaerat velit placeat, aliquam ipsum aperiam dolores.</p>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Why is there a subscription ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eveniet aliquam, magni animi dicta repellat voluptatem delectus ratione aliquid fugiat necessitatibus architecto praesentium quidem dignissimos veritatis vero, officia exercitationem modi!</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Can I change the plan ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Yes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium consequatur, tenetur mollitia dolore illo, nemo voluptatem perspiciatis accusantium minima vero numquam cumque dolor incidunt atque omnis ducimus, consequuntur quia!</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Where are the other plans ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium consequatur, tenetur mollitia dolore illo, nemo voluptatem perspiciatis accusantium minima vero numquam cumque dolor incidunt atque omnis ducimus, consequuntur quia!</p>
        </div>
      </dd>
    </div>
  </dl>
  
  <h2 class="h3">
    <span class="highlight-underline">Pricing</span>
  </h2>
  <dl class="pb-5">
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">What prices are available ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <p class="mb-0 fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem deserunt ad quae laboriosam ex similique itaque vel id sed nihil quis assumenda a quaerat velit placeat, aliquam ipsum aperiam dolores.</p>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Is there a free lunch ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eveniet aliquam, magni animi dicta repellat voluptatem delectus ratione aliquid fugiat necessitatibus architecto praesentium quidem dignissimos veritatis vero, officia exercitationem modi!</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">One last question ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Facilis rerum distinctio, facere iusto. Ex iste magni fuga. Cupiditate, eos iusto aliquam esse sint amet quas inventore delectus, dolor modi saepe!</p>
        </div>
      </dd>
    </div>
  </dl>
  
</div>
