<% content_for :meta_title, "Pricing" %>

<div class="container py-5 mt-4 ps-5">

  <h1 class="text-center display-2 mb-3">Find the <span class="background-gradient">right plan for you</span></h1>
  <p class="lead text-center fw-400 fs-4 mb-5">Woah there! We're not ready for your money yet. <br>But you can take a look at tentative prices.</br></p>

  <!--
  <div class="col align-self-center">
    <div class="flex-center">
      <%= image_tag "ShutUpAndTakeMyMoney.gif" %>         
    </div>
  </div>
  -->

  <!-- Hide pricing table for now. -- SW 4-26-2022 -->
  <div class="container pt-3">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
        <div class="card blog-card">
          <div class="text-center">
            <h2 class="mt-4 h4">
              <span class="highlight-underline">Plan A</span>
            </h2>
            <p class="gray-500 px-4">A plan that may suit your needs, for now or later.</p>
            <p class="mb-0"><span class="h1 fw-700">0$</span><span class="lead fw-400 gray-500"> / forever</span></p>
            <small class="gray-500">No credit card required</small>
            <div class="mt-5 px-4">
              <button type="button" class="btn btn-outline-dark btn-lg w-100">Start for free</button>
            </div>
          </div>
          <div class="text-left fs-small px-4 mt-5">
            <strong>Here's what you get : </strong>
            <ul class="ps-2 pb-3" style="list-style-type: none;">
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
        <div class="card blog-card">
          <div class="text-center">
            <h2 class="mt-4 h4">
              <span class="highlight-underline">Plan B</span>
            </h2>
            <p class="gray-500 px-4">A plan that may suit your needs, for now or later.</p>
            <p class="mb-0"><span class="h1 fw-700">12$</span><span class="lead fw-400 gray-500"> / month</span></p>
            <small class="gray-500">No credit card required</small>
            <div class="mt-5 px-4">
              <button type="button" class="btn btn-dark btn-lg w-100">Start 14-days trial</button>
            </div>
          </div>
          <div class="text-left fs-small px-4 mt-5">
            <strong>Here's what you get : </strong>
            <ul class="ps-2 pb-3" style="list-style-type: none;">
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
        <div class="card blog-card">
          <div class="text-center">
            <h2 class="mt-4 h4">
              <span class="highlight-underline">Plan C</span>
            </h2>
            <p class="gray-500 px-4">A plan that may suit your needs, for now or later.</p>
            <p class="mb-0"><span class="h1 fw-700">24$</span><span class="lead fw-400 gray-500"> / month</span></p>
            <small class="gray-500">No credit card required</small>
            <div class="mt-5 px-4">
              <button type="button" class="btn btn-dark btn-lg w-100">Start 14-days trial</button>
            </div>
          </div>
          <div class="text-left fs-small px-4 mt-5">
            <strong>Here's what you get : </strong>
            <ul class="ps-2 pb-3" style="list-style-type: none;">
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#d8d8d8" class="text-gray-300 me-2"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
        <div class="card blog-card">
          <div class="text-center">
            <h2 class="mt-4 h4">
              <span class="highlight-underline">Plan D</span>
            </h2>
            <p class="gray-500 px-4">A plan that may suit your needs, for now or later.</p>
            <p class="mb-0"><span class="h1 fw-700">48$</span><span class="lead fw-400 gray-500"> / month</span></p>
            <small class="gray-500">No credit card required</small>
            <div class="mt-5 px-4">
              <button type="button" class="btn btn-dark btn-lg w-100">Start 14-days trial</button>
            </div>
          </div>
          <div class="text-left fs-small px-4 mt-5">
            <strong>Here's what you get : </strong>
            <ul class="ps-2 pb-3" style="list-style-type: none;">
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="#22c55e" class="text-green-500 me-2"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->

  <!--
  <h2 class="h3 mb-4">
    <span class="highlight-underline">FAQ</span>
  </h2>
  <dl>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Will pricing apply everywhere ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <p class="mb-0 fs-6">Yes. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem deserunt ad quae laboriosam ex similique itaque vel id sed nihil quis assumenda a quaerat velit placeat, aliquam ipsum aperiam dolores.</p>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Do you have custom prices ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">No. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eveniet aliquam, magni animi dicta repellat voluptatem delectus ratione aliquid fugiat necessitatibus architecto praesentium quidem dignissimos veritatis vero, officia exercitationem modi!</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Is my credit card secured ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Yes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium consequatur, tenetur mollitia dolore illo, nemo voluptatem perspiciatis accusantium minima vero numquam cumque dolor incidunt atque omnis ducimus, consequuntur quia!</p>
        </div>
      </dd>
    </div>
  </dl>
  -->

</div>
