<% content_for :meta_title, "Styleguide" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1 class="text-center">Styleguide</h1>

  <h2 class="h3 mb-4">
    <span class="highlight-underline">Colors</span>
  </h2>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-primary text-white">Primary</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-secondary text-white">Secondary</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-success text-white">Success</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-danger text-white">Danger (=Error)</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-warning text-dark">Warning</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-info text-white">Info</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-light text-dark">Light</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-dark text-white">Dark</div>
    </div>
  </div>
  
  <h2 class="h3 mb-4">
    <span class="highlight-underline">Grayscale</span>
  </h2>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-100">gray-100</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-200">gray-200</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-300">gray-300</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-400">gray-400</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-500 text-white">gray-500</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-600 text-white">gray-600</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-700 text-white">gray-700</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-800 text-white">gray-800</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 gray-bg-900 text-white">gray-900</div>
    </div>
  </div>
  
  <h2 class="h3 mb-4">
    <span class="highlight-underline">Buttons</span>
  </h2>
  <div>
    <a href="#" class="btn btn-sm btn-dark mb-2" style="width: 200px;">Small dark button</a>
  </div>
  <div>
    <a href="#" class="btn btn-sm bg-white mb-2" style="width: 200px;">Small white button</a>
  </div>
  <div>
    <a href="#" class="btn btn-sm bg-primary text-white mb-2" style="width: 200px;">Small primary button</a>
  </div>
  <div>
    <a href="#" class="btn btn-sm bg-danger text-white mb-2" style="width: 200px;">Danger button</a>
  </div>

  <h2 class="h3 mb-4">
    <span class="highlight-underline">Text</span>
  </h2>
  <p>
    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Dolorum accusamus officiis, deleniti officia aliquid, deserunt. Quos illo, placeat tempore perspiciatis veniam, corporis, suscipit dignissimos necessitatibus sit dolorum iusto, ipsum quasi?
  </p>

  <h2 class="h3 mb-4">
    <span class="highlight-underline">Typography</span>
  </h2>
        <p className="lead">This is a paragraph with emphasis</p>

        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
        <p><del>This line of text is meant to be treated as deleted text.</del></p>
        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
        <p><u>This line of text will render as underlined</u></p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p><strong>This line rendered as bold text.</strong></p>
        <p><em>This line rendered as italicized text.</em></p>
        <p>This is an abbreviation : <abbr title="attribute">attr</abbr></p>
        <blockquote className="blockquote">
          <p className="mb-0">This is a quote. Famous enough to be shared on social medias.</p>
          <footer className="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

</div>
