// Override any Bootstrap props linked to the admin dashboard (all pages under the /admin URL)
.admin {

  .form-control {
    margin-bottom: 1.45rem;
  }
  .form-control.is-valid, .form-control.is-invalid {
    margin-bottom: 0rem;
  }
  .invalid-feedback, .valid-feedback {
    margin-top: -.15rem;
  }

  a.nav-link {
    span {
      color: $gray-500;
    }

    svg {
      fill: $gray-500;
      transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
  }

  a.nav-link.is-active {
    svg {
      fill: $white;
      transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
    span {
      color: $white;
    }
  }

  nav a:hover {
    span {
      color: $white;
    }

    svg {
      fill: $white;
      transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
  }

  .table > tbody {
    border-top: (1 * $table-border-width) solid $table-group-separator-color;
  }

  td {
    vertical-align: middle;
  }

  tr:hover {
    background-color: $gray-100;
  }

}

.admin-destroy-item {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding-left: 1.35rem;
  background-position-y: center;
  background-position-x: .25rem;
}
.admin-delete-item {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-trash' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding-left: 1.35rem;
  background-position-y: center;
  background-position-x: .25rem;
}

.admin-table-index tbody tr {
  font-size: .9rem;
}
table.admin-table-index td {
  padding: .75rem;
}
.admin-table-index .btn {
  font-size: .8rem;
}
