.blog-card {
  --tw-shadow: 0 15px 50px -20px #e0e7ff,0 -5px 50px -20px #fce7f3;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

