.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
.cursor-none {
  cursor: none !important;
}

.tight-letters {
  letter-spacing: -0.1rem;
}

.highlight-underline {
    background: linear-gradient(359deg,#c7d2fe 24%,transparent 0);
}
